* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  width: 800px;
  margin: 0 auto;
}

/*Navbar*/

.container_navbar {
  width: 100%;
  background-color: #333;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navbar_item {
  padding: 15px;
  color: #fff;
  font-weight: bold;
}

.navbar_item:hover {
  background-color: #aaa;
}

/*Header*/

.container_header {
  width: 100%;
}

.header {
  display: flex;
}

.header_aprecentacao {
  margin: 50px;
}

.header_aprecentacao--titulo {
  font-size: 40px;
  color: #666;
  text-shadow: 1px 1px 0px #333;
}

.header_aprecentacao--subtitulo {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 20px;
  color: #666;
}

.header_aprecetacao--description {
  text-align: justify;
  color: #444;
}

.header_aprecetacao--description a {
  color: #444;
  font-weight: bold;
}

.header_aprecetacao--description a:hover {
  color: #ccc;
}

.header_image {
  display: flex;
  align-items: center;
}

.header_image--picture {
  width: 150px;
  border-radius: 50%;
}

/*Formação*/

.container_formacao {
  width: 100%;
  background-color: #ccc;
  padding: 35px 0;
}

.title {
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #666;
}

.item {
  padding-left: 10px;
  margin-bottom: 25px;
  color: #666;
  border-left: 5px solid ;
  border-radius: 5px;
  list-style: none;
}

/*Experiencia*/

.container_experiencia {
  width: 100%;
  background-color: #333;
}

.experiencia{
    padding: 50px 0;
}

.experiencia_title{
    margin-bottom: 30px;
}

.light{
    color: #eee;
}

/*Projetos*/

.container_projetos{
  width: 100%;
  padding: 40px;
  background-color: #eee;
}

/*Footer*/
.container_footer{
    background-color: #000;
    color: #fff;
}

.contato{
    padding: 30px;
}

.form_item{
    margin-bottom: 15px;
}

.form_item--label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_item--input{
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    border-style: none;
}

.form_item--btn{
    display: block;
    margin: 10px 0;
    padding: 7px 10px;
    border-radius: 7px;
    background-color: #F32424;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
}

.form_item--btn:hover{
    background-color: #FF4949;
    color: #000;
}

.form_item--btn:active{
    background-color: #B20600;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social_link{
    padding: 7px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.social_link:hover{
    color: #999;
}